* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--violet);
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 62.5%;
  line-height: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
ul {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 0px;
}

li {
  list-style: none;
  text-align: -webkit-match-parent;
}

li,
h1,
h2,
h3,
h4,
p,
div {
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

form {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

:root {
  --terracotta-light-1: #f9987b;
  --terracotta: #dc7458;
  --terracotta-dark-1: #c6593e;
  --terracotta-dark-2: #a9422c;
  --violet-light-03: #581c77;
  --violet-light-02: #471362;
  --violet-light-01: #370a4e;
  --violet: #260139;
  --form-width: 50vw;
}

.root {
  font-family: "Oswald";
  height: 100vh;
  max-width: 1200px;
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
.header-title {
  color: var(--terracotta-light-1);
  display: inline-block;
  font-size: calc(100% + 3.72vw);
  font-weight: 200;
  line-height: calc(100% + 1.1vw);
  text-align: center;
  text-transform: uppercase;
}

.header-logo {
  display: inline-block;
  padding-right: 1rem;
  width: calc(100% - 92.72vw);
}

.header-subtext-container {
  margin-bottom: 5rem;
}

.header-subtext {
  color: var(--violet-light-03);
  font-size: calc(100% + 2.72vw);
  font-weight: 300;
  line-height: calc(100% + 1.1vw);
  text-align: center;
  text-transform: uppercase;
}

.form-container {
  height: 25vh;
  margin: auto;
  position: relative;
  width: 60%;
}

.match-history-container-test {
  width: 200px;
  height: 150px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

#match-history-container {
  width: 100%;
  height: 75vh;
}

#heat-map-image {
  width: 100%;
  height: auto;
}

.match-history-container-test > img {
  object-fit: contain;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

input,
button {
  display: block;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s cubic-bezier(0.4, 0.25, 0.8, 0.3);
  width: var(--form-width);
}

input {
  border: 0;
  border-bottom: 2px solid var(--violet-light-03);
  outline: 0;
  background: transparent;
  color: #fff;
  font-size: calc(100% + 2vw);
  letter-spacing: 0.125rem;
  line-height: 4rem;
  padding: 0.25rem 0;
  transition: all 0.5s cubic-bezier(0.4, 0.25, 0.8, 0.3);
}

input::selection {
  background: rgba(var(--terracotta-light-1), 0.25);
}

button,
.search-button {
  border: 0;
  outline: 0;
  background: var(--terracotta);
  box-shadow: 0 3px 5px 1px rgba(#000, 0.25);
  color: var(--violet);
  font-size: calc(100% + 2vw);
  font-weight: 400;
  letter-spacing: 0.0625rem;
  line-height: 3.6rem;
  padding: 0.25em 0;
  text-shadow: 0 -2px 0 rgba(#000, 0.25), 0 1px 0 rgba(#fff, 0.2);
  text-transform: uppercase;
}

.search-button,
.search-button-trigger {
  cursor: pointer;
  left: 50%;
  line-height: calc(100% + 2.5vw);
  padding: 0.25rem 0;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.3s;
  width: var(--form-width);
}

.search-button-trigger {
  opacity: 0;
  pointer-events: auto;
}

.label-text {
  color: #fff;
  font-size: calc(100% + 1.5vw);
  font-weight: 300;
  left: 50%;
  letter-spacing: 0.125rem;
  line-height: calc(100% + 1.1vw);
  opacity: 0;
  padding: 3.125rem 0 1.5rem;
  pointer-events: none;
  position: absolute;
  text-transform: uppercase;
  top: calc(50% - 4rem);
  transform: translate(-50%, -300%);
  transition: all 0.4s cubic-bezier(0.4, 0.25, 0.8, 0.3) 0.05s;
  width: var(--form-width);
}

.tip {
  color: #fff;
  font-size: calc(100% + 1vw);
  font-weight: 300;
  left: 50%;
  letter-spacing: 0.125rem;
  opacity: 0;
  position: absolute;
  text-align: right;
  text-transform: uppercase;
  top: 57%;
  transform: translate(-50%, -50%);
  transition: opacity 0.25s 0.5s;
  width: var(--form-width);
}

.nav-dot {
  cursor: pointer;
  padding: 0.625rem 2.25rem 0.625rem 0.625rem;
  position: absolute;
  right: 1.25rem;
  top: 73%;
}

.nav-dot:before {
  background-color: var(--terracotta-dark-2);
  border-radius: 50%;
  border: 0;
  content: "";
  display: inline-block;
  height: 2rem;
  margin-right: 0.625rem;
  margin-right: 0.625rem;
  position: absolute;
  transition: all 0.25s;
  width: 2rem;
}

.nav-dot:hover:before {
  background-color: var(--terracotta-light-1);
  height: 2.5rem;
  margin-left: -0.125rem;
  margin-top: -0.125rem;
  width: 2.5rem;
}

input:focus,
button:focus {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -100%);
  transition: all 0.4s cubic-bezier(0.1, 0.45, 0.1, 0.85) 0.5s;
  z-index: 10;
}

input:focus ~ input,
input:focus ~ button {
  transform: translate(-50%, 500%);
  transition: all 0.5s ease-in;
}

input:focus ~ label .label-text {
  transform: translate(-50%, 300%);
  transition: all 0.5s ease-in;
}

input:focus ~ .tip {
  opacity: 1;
}

input:focus ~ .search-button,
button:focus ~ .search-button {
  opacity: 0;
}

input:focus + label .label-text {
  opacity: 1;
  transform: translate(-50%, -100%);
  transition: all 0.3s cubic-bezier(0.1, 0.45, 0.1, 0.85) 0.4s;
}

input:focus + label .nav-dot:before {
  background: darken(var(--terracotta-dark-2), 5%);
  box-shadow: 0 0 0 0.15rem var(--terracotta-light-1),
    0 0 0.05rem 0.26rem var(--terracotta-dark-2);
}

label[for="input-1"] .nav-dot {
  margin-top: -75px;
}

label[for="input-2"] .nav-dot {
  margin-top: -50px;
}
